<h1>
  Time for some blackjack!
</h1>

<div class="dealer">
	<p>Dealer showing: 
		<%= @dealer.cards_string %>
	</p>
</div>

<div class="player">
	<p>Player has: 
		<%= @player.cards_string %>
	</p>
</div>